{{set . "title" "Chat room"}}
{{template "header.html" .}}

<h1>WebSocket — You are now chatting as {{.user}}
  <a href="/">Leave the chat room</a></h1>

<div id="player"></div>
<div id="thread">
  <script type="text/html" id="message_tmpl">
    <% if(event.Type == 'message') { %>
      <div class="message <%= event.User == '{{.user}}' ? 'you' : '' %>">
        <h2><%= event.User %></h2>
        <p>
          <%= event.Text %>
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'join') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.User %> joined the room
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'leave') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.User %> left the room
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'quit') { %>
      <div class="message important">
        <h2></h2>
        <p>
          You are now disconnected!
        </p>
      </div>
    <% } %>
  </script>
</div>

<div id="newMessage">
  <input type="text" id="message" autocomplete="off" autofocus>
  <input type="submit" value="send" id="send">
</div>

<script src="//www.youtube.com/iframe_api"></script>
<script type="text/javascript">

/*
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    var playerReady = false;

*/
    /**
    * Put your video IDs in this array
    */

    /*
    var videoIDs = [
        'OdT9z-JjtJk',
        'NlXTv5Ondgs'
    ];

    var player, currentVideoId = -1;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '350',
            width: '425',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        playerReady = true;
    }

    function onPlayerStateChange(event) {
	//maybe send something back to the server along the lines of: we finished
    }
*/

  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/mewsicroom/room/socket?user={{.user}}')


/*
  // Display a message
  var display = function(event) {
    $('#thread').append(tmpl('message_tmpl', {event: event}));
    $('#thread').scrollTo('max')
  }
  
  //processes the request to play a video
  var process_play = function(event){
    console.log(event.Type)
    if(event.Type == "play"){
    	player.loadVideoById(event.Text);
       
    } else if (event.Type == "stop"){
       
    }
  }

  //plays a video

  //stops a video

  // Message received on the socket
  socket.onmessage = function(event) {

    cur_message = JSON.parse(event.data)
    display(cur_message)
    process_play(cur_message)
  }

  

  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(message)
  });

  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })
*/
</script>
