#cli {
  width: 798px;
  height: 600px;
  border: 1px solid gray;
  overflow-y: scroll;
}

.cli_msg {
  width: 758px;
  margin-left: 9px;
  margin-right: 18px;
  margin-top: 9px;
  margin-bottom: 9px;
  border: 1px solid darkgray;
  overflow: hidden;
}

.cli_from {
  width: 130px;
  float:left;
  padding: 10px;
  text-align: right;
}

.cli_content {
  width: 588px;
  float:left;
  padding: 10px;
}

.cli_type_system .cli_from {
  background-color: pink;
}

#command {
  width: 800px;
  margin-top: 20px;
}

#command-box {
  width: 778px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 24px;
  font-family: Monaco, "Lucida Console", monospace;
}

.good-command {
  background-color: #b6edb9;
}