{{set . "title" "Sign in"}}
{{template "header.html" .}}

<div id="home">

  <h2>The Chat demonstration (from Play!)</h2>

  <div id="signin">
    <form action="{{url "App.EnterDemo"}}">
      {{if .flash.error}}
        <p class="error">
          {{.flash.error}}
        </p>
      {{end}}
      <p>
        <label for="nick">Choose a nick name</label>
        <input type="text" name="user" id="user">
      </p>
      <p>
        <label></label>
        <input type="submit" id="enter" value="Enter the chat room">
      </p>
    </form>
  </div>

</div>
{{template "footer.html" .}}
