<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/public/ima/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/templating.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/connection.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/parser.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
